.option-container {
    width: 500px;
    height: 60px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.destroyer {
    background-color: rgb(87, 14, 14);
}

.destroyer-prev {
    width: 20px;
    height: 10px;
    margin: 3px;
}

.submarine {
    background-color: green;
}

.submarine-prev {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.cruiser {
    background-color: purple;
}

.cruiser-prev {
    width: 30px;
    height: 10px;
    margin: 3px;
}

.battleship {
    background-color: orange;
}

.battleship-prev {
    width: 40px;
    height: 10px;
    margin: 3px;
}

.carrier {
    background-color: blue;
}

.carrier-prev {
    width: 50px;
    height: 10px;
    margin: 3px;
}

#gameboard-container {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.gameboard {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 20px;
    height: 20px;
    border: 1px solid;
    box-sizing: border-box;
}

.hover {
    background-color: grey;
}

.boom {
    background-color: red !important;
}

.empty {
    background-color: grey !important;
}

#computer .destroyer,
#computer .submarine,
#computer .cruiser,
#computer .carrier,
#computer .battleship {
    background-color: pink;
}

@media screen and (min-width: 400px) and (max-width: 768px) {

    #gameboard-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }   
}